.navbar {

    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        background-color: #fff;

        .container {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        img {
            width: 22.5rem;
        }
    }

    &__search {
        border: 1px solid rgba($color: #000000, $alpha: .2);
        height: 2rem;

        &--content {
            display: flex;
            align-items: center;
            padding: .2rem;

            input {
                outline: none;
            }
        }
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--login {
            display: flex;
        }

        &--i8vn {
            a {
                &:first-child {
                    &::after {
                        content: "";
                        border-right: 1px solid gray;
                        margin: .2rem;
                    }
                }
            }
        }
    }

    &__bot {
        display: flex;
        justify-content: center;
        background-color: #000000;

        .container {
            width: 70%;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }

        &--item {
            text-align: center;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            padding: .8rem 1rem;
            width: 100%;
        }
    }
}