.slider {
    &__content {
        .ant-carousel {
            .slick-dots {
                margin-bottom: 50px;
                li {

                    width: .5rem;
                    height: .5rem;

                    button {
                        width: .5rem;
                        height: .5rem;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}