@import '../../index.scss';

.tabFilm {
    display: flex;
    justify-content: center;

    .ant-tabs-tab-btn {
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
    }

    .ant-tabs-tab {
        border-color: $primary_color;
    }

    .ant-tabs-content-holder {
        width: 100%;
    }

    &__button {
        margin-left: auto;
        padding: 1rem 2rem;
        color: $primary_color;
        border: 1px solid $primary_color;
    }

    .showing {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;

        &__film {
            width: 30%;
        }
    }
}