@import '../../index.scss';

.tabFilm {
    .ant-tabs-tab-btn {
        color: #000;
    }

    .ant-tabs-nav-list {
        transform: none;
    }

    .ant-tabs-tab {
        &:hover {
            color: $primary_color !important;
        }
    }

    .ant-tabs-tab-active {
        border-bottom: 2px solid $primary_color !important;
        z-index: 999;

        .ant-tabs-tab-btn {
            color: $primary_color !important;
        }
    }

    .ant-tabs-tab {
        border-color: $primary_color;

        &-btn {
            color: #000;
            font-size: 1.125rem;
        }
    }

    .ant-tabs-content-holder {
        width: 100%;
    }

    :where(.css-dev-only-do-not-override-nnuwmp).ant-tabs .ant-tabs-ink-bar {
        position: absolute;
        background: $primary_color;
        pointer-events: none;
    }

    &__button {
        color: $primary_color;
        border: 1px solid $primary_color;

        &:hover {
            color: #fff;
            background-color: $primary_color;
        }
    }

    .showing {

        &__film {
            &--movie {
                position: relative;

                &:hover {
                    .showing__film--hover {
                        display: flex;
                    }
                }
            }

            &--title {
                font-weight: 500;
            }

            &--paragraph {
                font-weight: 500;
                color: $paragraph_color;
            }

            &--hover {
                position: absolute;
                display: none;
                border-radius: 12px;
                height: 100%;
                width: 100%;
                background-color: rgba($color: #000000, $alpha: .7);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;

                p {
                    background-color: $primary_color;
                    border-radius: 5px;
                    padding: 3px 5px;
                    color: #fff;
                }
            }
            &--image{
                border-radius: 12px;
            }
        }
    }
}