@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600;700&family=Roboto+Flex:wght@100;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

$primary_color: #034EA2;
$paragraph_color: #A0A3A7;

.container {
    width: 80%;

    @media (min-width:768px) {
        width: 90%;
    }
}