.slider {
    position: relative;

    .ant-carousel {

        .slick-dots li {
            width: .5rem;
            height: .5rem;

            button {
                width: .5rem;
                height: .5rem;
                border-radius: 50%;
            }
        }
    }

    &__button {
        &--prev {
            position: absolute;
            z-index: 1;
            padding: 0 20px;
            background-image: linear-gradient(to left, #ffffff00, #00000020);
            height: 100%;

            &:hover {
                background-image: linear-gradient(to left, #ffffff00, #00000074);
            }
        }

        &--next {
            position: absolute;
            z-index: 1;
            padding: 0 20px;
            right: 0;
            background-image: linear-gradient(to right, #ffffff00, #00000020);
            height: 100%;

            &:hover {
                background-image: linear-gradient(to right, #ffffff00, #00000020);
            }
        }
    }
}